
<!--******CALCULATORS*********** -->
<div class="row">
	<div class="col-md-12 text-center ppGradient">
		<h4><b class="whiteText">FINANCIAL CALCULATORS</b></h4>
	</div>
</div>
<div class="row">
	<div class="col-md-6 calculatorBackground text-center">
		<a href="rental-property-calculator" class="mpDesign3D777F">
			<!-- id added for adding light img on hover; center-block to center img -->
			<img id="rentalPropertyImg" src="/app/assets/img/Icon_Property_Green.png" class="img-responsive center-block">
			<p>REAL ESTATE CALCULATOR</p>
			<p><b>HOW MUCH MONEY WILL MY PROPERTY MAKE?</b></p>
		</a>
	</div>
	<div class="col-md-6 calculatorBackground text-center mpDesign3D777F">
		<a href="investment-return-calculator" class="mpDesign3D777F">
			<!-- id added for adding light img on hover; center-block to center img -->
			<img id="investmentReturnImg" src="/app/assets/img/Icon_ROI_Green.png" class="img-responsive center-block">
			<p>INVESTMENT RETURN CALCULATOR</p>
			<p><b>WHAT WILL MY INVESTMENT BE WORTH?</b></p>
		</a>
	</div>
</div>

<!-- ********BLOGS*********** -->
<div class="row">
	<div class="col-md-12 text-center  ppGradient">
		<h4><b class="whiteText">MOST RECENT BLOGS</b></h4>
	</div>
</div>
<div class="row blogRow mpClickable blogHover" ng-repeat="blog in about.blogs | orderBy:'date':true track by $index" ng-click="about.showBlog(blog)">
	<!-- Implements push and pull re-ordering for columns 
		This was added so that on small screens the title comes first-->
	<div class="col-md-6 col-md-push-4">
		<div class="row mpDesign27314F blogListPadding">
			<h2><b>{{blog.title}}</b></h2>
		</div>
		<div class="row mpDesign39AEA9 blogListPadding">
			<p><b>-- {{blog.comments.length}} Comments</b></p>
		</div>
	</div>
	<div class="col-md-4 col-md-pull-6">
		<img ng-src="{{blog.image}}" class="img-responsive blogListPadding">
	</div>
	<div class="row">
		<div class="col-md-12">
			<hr class="thickHR"/>
		</div>
	</div>
</div>

