<!--******CALCULATORS*********** -->
<div class="row">
	<div class="col-md-6 calculatorBackground text-center mpDesign3D777F">
		<!-- id added for adding light img on hover; center-block to center img -->
		<img id="rentalPropertyImg" src="/app/assets/img/Icon_Property_Green.png" class="img-responsive center-block">
		<p>CALCULATE</p>
		<p><b>PROPERTY CASH FLOW</b></p>

	</div>
	<div class="col-md-6 calculatorBackground text-center mpDesign3D777F">
		<!-- id added for adding light img on hover; center-block to center img -->
		<img id="investmentReturnImg" src="/app/assets/img/Icon_ROI_Green.png" class="img-responsive center-block">
		<p>CALCULATE</p>
		<p><b>INVESTMENT RETURN</b></p>
	</div>
</div>

<!-- ********BLOGS*********** -->
<div class="row blogRow">
	<!-- Implements push and pull re-ordering for columns 
		This was added so that on small screens the title comes first-->
	<div class="col-md-6 col-md-push-4">
		<div class="row mpDesign27314F blogListPadding">
			<h2><b>TOP 10 PASSIVE INCOME INVESTMENTS</b></h2>
		</div>
		<div class="row mpDesign39AEA9 blogListPadding">
			<p><b>-- 25 Comments</b></p>
		</div>
	</div>
	<div class="col-md-4 col-md-pull-6">
		<img src="/app/assets/img/temp.jpg" class="img-responsive blogListPadding">
	</div>
</div>
<hr class="thickHR"/>
<div class="row blogRow">
	<!-- Implements push and pull re-ordering for columns 
		This was added so that on small screens the title comes first-->
	<div class="col-md-6 col-md-push-4">
		<div class="row mpDesign27314F blogListPadding">
			<h2><b>HOW TO RE BALANCE INVESTMENT PORTFOLIOS BY FOLLOWING AN ASSET ALLOCATION STRATEGY</b></h2>
		</div>
		<div class="row mpDesign39AEA9 blogListPadding">
			<p><b>-- 25 Comments</b></p>
		</div>
	</div>
	<div class="col-md-4 col-md-pull-6">
		<img src="/app/assets/img/portland_skyline_banner.jpg" class="img-responsive blogListPadding">
	</div>
</div>
<hr class="thickHR"/>
