<!-- ******CALCULATORS*********** -->
<div class="row">
	<div class="col-md-6 calculatorBackground text-center mpDesign3D777F">
		<!-- id added for adding light img on hover; center-block to center img -->
		<img id="rentalPropertyImg" src="/app/assets/img/Icon_Property_Green.png" class="img-responsive center-block">
		<p>CALCULATE</p>
		<p><b>PROPERTY CASH FLOW</b></p>

	</div>
	<div class="col-md-6 calculatorBackground text-center mpDesign3D777F">
		<!-- id added for adding light img on hover; center-block to center img -->
		<img id="investmentReturnImg" src="/app/assets/img/Icon_ROI_Green.png" class="img-responsive center-block">
		<p>CALCULATE</p>
		<p><b>INVESTMENT RETURN</b></p>
	</div>
</div>

<!-- ********BLOGS*********** -->
<div class="row">
	<div class="col-md-4">
		<img src="/app/assets/img/temp.jpg" class="img-responsive blogThumbnailImageSpacing">
	</div>
	<div class="col-md-7">
		<div class="row mpDesign27314F padding15" >
			<h2><b>TOP 10 PASSIVE INCOME INVESTMENTS</b></h2>
		</div>
		<div class="row mpDesign39AEA9 padding15">
			<p><b>-- 25 Comments</b></p>
		</div>
	</div>
</div>
<div class="row">
</div>

