<div class="container page-content">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<br/>
				<div class="col-md-4">
					<label>What is your starting balance?</label>
					<div class="input-group">
			            <input type="number" class="inpt form-control" placeholder="$" ng-model="fv.input.investAmount">
			            <span class="input-group-addon">$</span>
			        </div><br/>

		            <label>How much do you want to contribute per month?</label>
					<div class="input-group">
			            <input type="number" class="inpt form-control" placeholder="$" ng-model="fv.input.monthlyContributions">
			            <span class="input-group-addon">$ / month</span>
			        </div><br/>

		            <label>What is the annual rate of return?</label>
					<div class="input-group">
			            <input type="number" step="0.01" class="inpt form-control" placeholder="$" ng-model="fv.input.annualRateOfReturn">
			            <span class="input-group-addon">$ / year</span>
			        </div><br/>

			        <label>How much will this investment be worth in ...?</label>
					<div class="input-group">
			            <input type="number" step="0.001" class="inpt form-control" placeholder="years" ng-model="fv.input.years">
			            <span class="input-group-addon">years</span>
			        </div><br/>

		            <label>In how many years will you start this investment?</label>
					<div class="input-group">
			            <input type="number" step="0.001" class="inpt form-control" placeholder="years" ng-model="fv.input.yearsBeforeContributing">
			            <span class="input-group-addon">years</span>
			        </div>
		            <span>This shows you the cost of waiting by not starting right now.</span><br/><br/>

		            <!-- Calculate -->
			    	<button type="button" ng-click="fv.calculate()" class="btn btn-info pull-right">Calculate</button>
		        </div>
		        <br/>
		        <div class="col-md-7 col-md-offset-1">
		        	<mp-future-value-charts data="fv.chartData" future-value-pie-chart-labels="fv.futureValuePieChartLabels">
			        	<div class="row">
			        		<div class="col-md-3" ng-show="fv.result.resultPercent || fv.result.resultPercent === 0">
			        			<span>{{fv.result.resultPercent}}% RETURN</span>
<!-- 								<div id="futureValueGauge"></div>
 -->							</div>
			        		<div class="col-md-3">
					        	<span ng-show="fv.input.years">{{fv.input.years}}-YEAR</span> VALUE<br/>
								<b class="dollarValueLarge">$ {{fv.result.futureValue}}</b>
							</div>
							<div class="col-md-3">
								<div>CONTRIBUTIONS</div>
								<b class="dollarValueMedium">
									$ {{fv.result.totalAmountContributed}}
								</b>
							</div>
							<div class="col-md-3 mpProfit">
								<div>PROFITS</div>
								<b class="dollarValueMedium">
									$ {{fv.result.totalInvestmentReturn}}
								</b>
							</div>
						</div>
						<br/>
						<div class="row">
							<!-- <div  class="col-md-4">
								<div>Total Contributions</div>
								<b class="dollarValueMedium">
									$ {{fv.result.totalAmountContributed}}
								</b>
							</div>
						
							<div  class="col-md-6">
								<div>Total Interest Earned</div>
								<b class="dollarValueMedium">
									$ {{fv.result.totalInvestmentReturn}}
								</b>
							</div> -->
						</div>

						<br/>
						<div class="row">
							<div class="col-md-12">
								<div class="btn-toolbar">
							        <div class="btn-group">
							        	<label class="btn btn-default" ng-class="{active: fv.view === 'barGraph'}"><input type="radio" ng-model="fv.view" value="barGraph" class="mpButtonGroupRadio">Bar Graph</label>
							        	<label class="btn btn-default" ng-class="{active: fv.view === 'pieChart'}"><input type="radio" ng-model="fv.view" value="pieChart" class="mpButtonGroupRadio">Pie Chart</label>
							        </div>
							    </div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div id="futureValueStackColumnChart" ng-show="fv.view === 'barGraph'"></div><br/>

								<div class="row" ng-show="fv.view === 'pieChart'">
									<div class="col-md-5">
										<div id="futureValuePieChart"></div>
									</div>
								
									<div class="col-md-7">
										<br/>
										<br/>
										<div ng-repeat="fvLabels in fv.futureValuePieChartLabels track by $index">
											<div class="row">
												<div class="col-md-6">
													<span class="glyphicon glyphicon-stop" aria-hidden="true" style="color:{{fvLabels.color}}"></span>
													<span>{{fvLabels.description}}:</span>
												</div>
												<div class="col-md-6">
													<span>{{fvLabels.value}}</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								
							</div>
						</div>
						<div class="row">
							<div class="col-md-12" ng-show="fv.input.yearsBeforeContributing && fv.result.futureValueOfYears">
								<br/><span>If you wait <b>{{fv.input.yearsBeforeContributing}} years </b> to start this investment it is worth <b>${{fv.result.futureValueOfYears}}.</b></span><br/>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12" ng-show="fv.input.years && fv.result.costOfWaiting">
								<div>Cost of waiting {{fv.input.yearsBeforeContributing}} years <b>$ {{fv.result.costOfWaiting}}</b></div>
							</div>
						</div>
					</mp-future-value-charts>
					<span class="pull-right">*Assumes monthly compounding</span>
		        </div>
			</div>
		</div>
	</div>
	<br/>
</div>
<br/>
<br/>