<div class="row">
	<div class="col-md-6 calculatorBackground text-center">
		<a href="rental-property-calculator" class="mpDesign3D777F">
			<!-- id added for adding light img on hover; center-block to center img -->
			<img id="rentalPropertyImg" src="/app/assets/img/Icon_Property_Green.png" class="img-responsive center-block">
			<p>REAL ESTATE CALCULATOR</p>
			<p><b>HOW MUCH MONEY WILL MY PROPERTY MAKE?</b></p>
		</a>
	</div>
	<div class="col-md-6 calculatorBackground text-center ">
		<a href="investment-return-calculator" class="mpDesign3D777F">
			<!-- id added for adding light img on hover; center-block to center img -->
			<img id="investmentReturnImg" src="/app/assets/img/Icon_ROI_Green.png" class="img-responsive center-block">
			<p>INVESTMENT RETURN CALCULATOR</p>
			<p><b>WHAT WILL MY INVESTMENT BE WORTH?</b></p>
		</a>
	</div>
</div>
