<!-- Ng-form used for step validation (so the whole form does not get validated) -->
<ng-form name="{{rentalCalculator.steps[0].view}}">
  <!-- Form Input -->
  <div class="row elemIndent">
    <div class="col-md-5 form-group">
      <label>Report Title</label>
      <input type="text" class="inpt form-control" placeholder="Title" ng-model="rentalCalculator.input.bp_repTitle"> 

      <label>Street Address</label>
      <input type="text" class="inpt form-control" ng-model="rentalCalculator.input.bp_streetAddress" placeholder="Street Address" >

      <label>State</label>
      <input type="text" class="inpt form-control" ng-model="rentalCalculator.input.bp_state" placeholder="State">  
    </div>
    <div class="col-md-5 form-group">
      <label>
        Prepared For 
        <a rel="mpTooltip" mp-tooltip="{{rentalCalculator.preparedForText}}"> 
          <span class="glyphicon glyphicon-question-sign glyphiconBlueColor" aria-hidden="true"></span>
        </a>
      </label>
      <input type="text" class="inpt form-control" ng-model="rentalCalculator.input.bp_preparedFor" placeholder="Prepared For"> 

      <label>City</label>
      <input type="text" class="inpt form-control" ng-model="rentalCalculator.input.bp_city" placeholder="City">

      <label>Zip Code</label>
      <input type="number" class="inpt form-control" ng-model="rentalCalculator.input.bp_zipCode" placeholder="Zip Code" name="bp_zipCode">
    </div>
  </div>

  <div class="row elemIndent">
    <div class="form-group col-md-10">
      <label>Description</label>
      <textarea ng-model="rentalCalculator.input.bp_description" rows="2" class="form-control" placeholder="Description"></textarea>
    </div>
  </div>
  <div class="row elemIndent">
    <div class="form-group col-md-3">
      <label>
        Typical Cap Rate for Area
        <a rel="mpTooltip" mp-tooltip="{{rentalCalculator.capRateText}}"> 
          <span class="glyphicon glyphicon-question-sign glyphiconBlueColor" aria-hidden="true"></span>
        </a>
      </label>
      <div class="input-group">
        <input type="text" class="inpt form-control" ng-model="rentalCalculator.input.fm_typicalRapRate" placeholder="%">
        <span class="input-group-addon">%</span>
      </div>
    </div>
    <div class="form-group col-md-3">
      <label>
        Assumed Appreciation
        <a rel="mpTooltip" mp-tooltip="{{rentalCalculator.appreciationText}}"> 
          <span class="glyphicon glyphicon-question-sign glyphiconBlueColor" aria-hidden="true"></span>
        </a>
      </label>
      <div class="input-group">
        <input type="text" class="inpt form-control" ng-model="rentalCalculator.input.fm_assumedAppreciation" placeholder="%">
        <span class="input-group-addon">%/year</span>
      </div>
    </div>
    <div class="form-group col-md-4">
      <label>
        Desired Cash on Cash
        <a rel="mpTooltip" mp-tooltip="{{rentalCalculator.desiredCashText}}">
          <span class="glyphicon glyphicon-question-sign glyphiconBlueColor" aria-hidden="true"></span>
        </a>
      </label>
      <div class="input-group">
        <input type="text" class="inpt form-control" ng-model="rentalCalculator.input.fm_desiredReturn" placeholder="%">
        <span class="input-group-addon">%</span>
      </div> 
    </div>
  </div>

  <div class="row elemIndent">
    <div class="col-md-10" ng-controller="FileController">
      <br/>
      <div class="dashedPlaceholder" droppable="[image/png, image/jpeg, image/gif]" file="imgUpload.src" file-name="imageFileName" id="dashedDiv">
        <img ng-src="{{ imgUpload.src }}" class="img-responsive" id="bp_propertyImage">
        <div class="innerDashedPlaceHolder text-center">
          <div style="color:#999;">Drop Files Here</div>
          <div style="color:#999;">or</div>
              <!-- the input file button is hidden because i do not like it's styling
              the second type input button just rerouted to activate the input file type button -->
              <input  type="file" filereader="imgUpload.src" id="filereader" style="display: none;">
              <input type="button" value="Browse..." onclick="document.getElementById('filereader').click();">
        </div>
      </div>
      <button type="button" class="btn" style="display:none" id="removeImage" removeimage>Remove Image</button>
    </div>
  </div>
</ng-form>

  