<fieldset>
	<div class="row">
        <div class="col-md-6">
        	<label for="fm_typicalRapRate">Typical Cap Rate for Area (%)</label>
		    <span class="glyphicon glyphicon-question-sign glyphiconBlueColor" aria-hidden="true"></span>
		    <input type="text" class="inpt form-control" ng-model="rentalCalculator.input.fm_typicalRapRate" placeholder="%">

		    <label for="fm_afterRepairValue">After Repair Value ($)</label>
          	<span class="glyphicon glyphicon-question-sign glyphiconBlueColor" aria-hidden="true"></span>
          	<input type="text" class="inpt form-control" ng-model="rentalCalculator.input.fm_afterRepairValue" placeholder="$">
		    
        <label for="fm_assumedAppreciation">Assumed Appreciation (%/yr)</label>
          <span class="glyphicon glyphicon-question-sign glyphiconBlueColor" aria-hidden="true"></span>
          <input type="text" class="inpt form-control" ng-model="rentalCalculator.input.fm_assumedAppreciation" placeholder="%">
        </div>
        <div class="col-md-6">
        	<label for="fm_desiredReturn">Desired Cash on Cash (%)</label>
            <span class="glyphicon glyphicon-question-sign glyphiconBlueColor" aria-hidden="true"></span>
          	<input type="text" class="inpt form-control" ng-model="rentalCalculator.input.fm_desiredReturn" placeholder="%"> 

	          <label for="fm_arvDate">ARV Date</label>
	          <span class="glyphicon glyphicon-question-sign glyphiconBlueColor" aria-hidden="true"></span>
	          <input type="text" class="inpt form-control" ng-model="rentalCalculator.input.fm_arvDate" ng-model="date" jqdatepicker placeholder="Date"/>

            <label for="fm_landValue">Land Value ($)</label>
          <span class="glyphicon glyphicon-question-sign glyphiconBlueColor" aria-hidden="true"></span>
          <input type="text" class="inpt form-control" ng-model="rentalCalculator.input.fm_landValue" placeholder="$">
        </div>
    </div>
</fieldset>