<div class="mpBanner">
	<div class="mpBannerHeader test">Financial Calculators</div>
	<div class="mpBannerDesc">Investing by the Numbers</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<h3>Property Calculator</h3>
			<div class="card roundedCorners">
				<div class="mpImageItem">
					<div class="mpImageDesc">Calculate Property Cash Flow</div>
					<a href="#rentalCalculator">
						<img src="/reic/app/assets/img/cash-flow-graph.png" class="img-responsive roundedCorners">
					</a>
				</div>
				<div class="mpImageExpl">
					This calculator analyzes the cash flow of your property in just 4 steps. It will effectively aid you in making smarter, more precise investment decisions. To see how it works with pre-filled default values, <a>Try this sample</a> 
				</div>
			</div>
		</div>
		<div class="col-md-3 col-md-offset-1">
			<h3>Future Value Calculator</h3>
			<div class="card roundedCorners">
				<div class="mpImageItem">
					<div class="mpImageDesc">Calculate Property Cash Flow</div>
					<a href="#rentalCalculator">
						<img src="/reic/app/assets/img/cash-flow-graph.png" class="img-responsive roundedCorners">
					</a>
				</div>
				<div class="mpImageExpl">
					This calculator analyzes the cash flow of your property in just 4 steps. It will effectively aid you in making smarter, more precise investment decisions. To see how it works with pre-filled default values <a>Try this sample</a>  
				</div>
			</div>
		</div>
		
		<div class="col-md-3 col-md-offset-1">
			<h3>Mortgage Calculator</h3>
			<div class="card roundedCorners">
				<div class="mpImageItem">
					<div class="mpImageDesc">Calculate Property Cash Flow</div>
					<a href="#rentalCalculator">
						<img src="/reic/app/assets/img/cash-flow-graph.png" class="img-responsive roundedCorners">
					</a>
				</div>
				<div class="mpImageExpl">
					This calculator analyzes the cash flow of your property in just 4 steps. It will effectively aid you in making smarter, more precise investment decisions. To see how it works with pre-filled default values <a>Try this sample</a> 
				</div>
			</div>
		</div>
	</div>
</div>