<div class="container page-content">
	<h3>Rental Property Calculator</h3>
	<div class="row">
		<div class="col-md-3">
			<a href="#rentalCalculator">
				<img src="/reic/app/assets/img/cash-flow-graph.png" class="img-responsive">
			</a>
		</div>
		<div class="col-md-9">
			<p>
				Analyze your next real estate deal and find out your cash flow, return on investment, and other important information every real estate investor should know before making a purchase. Use the basic version for a quick and simple analysis, or the advanced version for a comprehensive approach. Print your PDF report to send to lenders, investors, clients, or friends. Sign up for free to be able to save properties or add them to your portfolio to track your cash flow both now and in the future. 
			</p>
		</div>
	</div>
	<br/>
	<br/>
	<div class="col-md-3 col-md-offset-9">
		<h3>Future Value Calculator</h3>
	</div>
	<div class="row">
		<div class="col-md-9">
			<p>
				Analyze your next real estate deal and find out your cash flow, return on investment, and other important information every real estate investor should know before making a purchase. Use the basic version for a quick and simple analysis, or the advanced version for a comprehensive approach. Print your PDF report to send to lenders, investors, clients, or friends. Sign up for free to be able to save properties or add them to your portfolio to track your cash flow both now and in the future.
			</p>
		</div>
		<div class="col-md-3">
			<img src="/reic/app/assets/img/cash-flow-graph.png" class="img-responsive">
		</div>
	</div>
</div>