    <fieldset>
      <div class="row">
        <div class="col-md-6 form-group">
          <label for="bankLoanPurchasePrice">Purchase Price</label>
          <input type="text" class="inpt form-control" name="bankLoanPurchasePrice" placeholder="Purchase Price"> 
        </div>
        <div class="col-md-6 form-group">
          <label for="bankLoanPurchaseDate">Purchase Date</label>
          <input type="text" class="inpt form-control" name="bankLoanPurchaseDate" ng-model="date" jqdatepicker placeholder="Click to enter date">  
        </div>
      </div>
  </fieldset>
  <br/>
    <fieldset>
      <div class="row">
        <div class="col-md-6 form-group">
          
          <label for="bankLoanInterest">Percentage of Interest</label>
          <input type="text" class="inpt form-control" name="bankLoanInterest" placeholder="Percentage (%)"> 

          <label for="bankLoanDownPayment">Down Payment ($)</label>
          <input type="text" class="inpt form-control" name="bankLoanDownPayment" placeholder="Down Payment">
            
          <label for="bankLoanPercentageLoan">Percentage of Loan</label>
           <input type="text" class="inpt form-control" name="bankLoanPercentageLoan" placeholder="Percentage (%)">
        </div>
        <div class="col-md-6 form-group">
          

          <label for="bankLoanAmortization">Amortization (yrs)</label>
          <input type="text" class="inpt form-control" name="bankLoanAmortization" placeholder="Amortization (yrs)">

          <label for="bankLoanClosingCost">Closing Cost %</label>
          <input type="text" class="inpt form-control" name="bankLoanClosingCost" placeholder="Amortization">
        </div>  
      </div>
  </fieldset>
  <br/>

      <span class="glyphicon glyphicon-plus-sign glyphiconGreenColor" aria-hidden="true"></span>
        <label>Add Second Bank Loan</label>