    <fieldset>
      <div class="row">
        <div class="col-md-6 form-group">
          <label for="cashPurchasePrice1">Purchase Price</label>
          <input type="text" class="inpt form-control" name="cashPurchasePrice1" placeholder="Purchase Price"> 
        </div>
        <div class="col-md-6 form-group">
          <label for="cashPurchaseDate1">Purchase Date</label>
          <input type="text" class="inpt form-control" name="cashPurchaseDate1" ng-model="date" jqdatepicker placeholder="Click to enter date">
        </div>
      </div>
    </fieldset>
    