  <div ng-controller="AddSpecialTermsLoanController">
    <div ng-repeat="specialTermsLoan in specialTermsLoans">
      <fieldset>
        <div class="row">
            <div class="col-md-2 col-md-offset-10" ng-click="removeSpecialTermsLoan()">
              <span class="glyphicon glyphicon-minus-sign glyphiconDeleteForm" ng-show="$last && !$first"  aria-hidden="true"></span>
            </div>
        </div>
        <div class="row">
          <div class="col-md-6 form-group">

            <label for="SpecialTermsLoanName">Loan Name</label>
            <input type="text" class="inpt form-control" name="SpecialTermsLoanName" placeholder="Loan Name">

            <label for="SpecialTermsLoanAmount">Amount</label>
            <input type="text" class="inpt form-control" name="SpecialTermsLoanAmount" placeholder="Amount in $">

            <label for="SpecialTermsLoanInterest">Interest</label>
            <span class="glyphicon glyphicon-question-sign glyphiconBlueColor" aria-hidden="true"></span><br/>
            <input type="text" class="inpt form-control" name="SpecialTermsLoanInterest" placeholder="Interest in %">  
          </div>
          <div class="col-md-6 form-group">

            <label for="SpecialTermsLoanAmortization">Amortization</label>
            <span class="glyphicon glyphicon-question-sign glyphiconBlueColor" aria-hidden="true"></span><br/>
            <input type="text" class="inpt form-control" name="SpecialTermsLoanAmortization" placeholder="Amortization">

            <label for="SpecialTermsLoanBalloonDate">Balloon Date</label>
            <span class="glyphicon glyphicon-question-sign glyphiconBlueColor" aria-hidden="true"></span><br/>
            <input type="text" class="inpt form-control" name="SpecialTermsLoanBalloonDate" ng-model="date" jqdatepicker placeholder="Click to enter date"> 

            <label for="SpecialTermsLoanLenderPoints">Up Front Lender Points</label>
            <span class="glyphicon glyphicon-question-sign glyphiconBlueColor" aria-hidden="true"></span><br/>
            <input type="text" class="inpt form-control" name="SpecialTermsLoanLenderPoints" placeholder="Lender Points in $$">
          </div>
          <label>Interest only for specified period?</label>
          <span class="glyphicon glyphicon-question-sign glyphiconBlueColor" aria-hidden="true"></span><br/>
          <div class="col-md-12 form-group" ng-model="specialTermsInterestOption">
              <input type="radio" ng-model="specialTermsInterestOption" value="yes" >
              Yes
              <input type="radio" value="no" ng-model="specialTermsInterestOption">
              No
        </div>
      </div>
      </fieldset>
      <br/>
    </div>
    <div ng-click="addSpecialTermsLoan()">
      <span class="glyphicon glyphicon-plus-sign glyphiconGreenColor" aria-hidden="true"></span>
      <label>Add Special Terms Loan</label>
    </div>
  </div>