

<div ng-controller="AddUnitController">
  <h3>Rental Income</h3><br/>

  <fieldset>
    <div class="row">
      <div class="col-md-12">
        <label for="ri_annualRentIncrease">Annual Rent Increase (%)</label>
          <span class="glyphicon glyphicon-question-sign glyphiconBlueColor" aria-hidden="true"></span>
          <input type="text" class="inpt form-control" name="ri_annualRentIncrease" placeholder="%">
      </div>
    </div>
  </fieldset>
  <br/>
  <div ng-repeat="unit in units">
    <fieldset>
      <div class="row">
        <div class="col-md-2 col-md-offset-10" ng-click="removeUnit()">
          <span class="glyphicon glyphicon-minus-sign glyphiconDeleteForm" ng-show="$last && !$first"  aria-hidden="true"></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="ri_unitName">Unit Name</label>
          <span class="glyphicon glyphicon-question-sign glyphiconBlueColor" aria-hidden="true"></span>
          <input type="text" class="inpt form-control" name="ri_unitName" placeholder="i.e. Unit 1, Unit A, etc.">
                 
        </div>
        <div class="col-md-6">
           <label for="ri_grossMonthlyIncome">Gross Monthly Income ($/mo)</label>
          <span class="glyphicon glyphicon-question-sign glyphiconBlueColor" aria-hidden="true"></span>
          <input type="text" class="inpt form-control" name="ri_grossMonthlyIncome" placeholder="$">
        </div>
      </div>
    </fieldset>
    <br/>
  </div>
  <br/>
  <div ng-click="addUnit()">
    <span class="glyphicon glyphicon-plus-sign glyphiconGreenColor" aria-hidden="true"></span>
    <label>Add Unit</label><br/><br/>
  </div>
</div>

<div ng-controller="AddSupplementalIncomeController">
  <h3>Supplemental Income</h3><br/>
  <div ng-repeat="income in incomes">
    <fieldset>
      <div class="row">
        <div class="col-md-2 col-md-offset-10" ng-click="removeIncome()">
          <span class="glyphicon glyphicon-minus-sign glyphiconDeleteForm" ng-show="$last && !$first"  aria-hidden="true"></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="si_description">Description</label>
          <span class="glyphicon glyphicon-question-sign glyphiconBlueColor" aria-hidden="true"></span>
          <input type="text" class="inpt form-control" name="si_description" placeholder="i.e. coin laundry, garages, etc.">
        </div>
        <div class="col-md-6">
          <label for="si_grossMonthlyIncome">Gross Monthly Income ($/mo)</label>
          <span class="glyphicon glyphicon-question-sign glyphiconBlueColor" aria-hidden="true"></span>
          <input type="text" class="inpt form-control" name="si_grossMonthlyIncome" placeholder="$"> 
        </div>
      </div>
    </fieldset>
    <br/>
  </div>
  <div ng-click="addIncome()">
    <span class="glyphicon glyphicon-plus-sign glyphiconGreenColor" aria-hidden="true"></span>
    <label>Add additional income source</label>
  </div>
</div>