    <div class="row">
      <div class="col-md-12 form-group" ng-model="loanInfoView">
          <input type="radio" ng-model="loanInfoView" value="cash" >
          Cash
          <input type="radio" value="bankLoan" ng-model="loanInfoView">
          Loan - Bank
          <input type="radio" value="specialTermsLoan" ng-model="loanInfoView">
          Loan - Special Terms
      </div>
    </div>
    <fieldset>
        <div class="row">
          <div class="col-md-6 form-group">
            <label for="lI_bankLoanPurchasePrice">Purchase Price ($)</label>
            <span class="glyphicon glyphicon-question-sign glyphiconBlueColor" aria-hidden="true"></span>
            <input type="text" class="inpt form-control" name="lI_bankLoanPurchasePrice" placeholder="$"> 
          </div>
          <div class="col-md-6 form-group">
            <label for="lI_bankLoanPurchaseDate">Purchase Date</label>
            <input type="text" class="inpt form-control" name="lI_bankLoanPurchaseDate" ng-model="date" jqdatepicker placeholder="Date">  
          </div>
        </div>
      </fieldset>
      <br/>
    <!-- 
    Which one will be shown is based on the radio buttons above. The ng-disabled prevents the element from getting submitted and the ng-hide makes it disappear when it is disabled -->
    <div id="bankLoanView" ng-disabled="loanInfoView != 'bankLoan'" ng-hide="loanInfoView != 'bankLoan'" bank-loan-view></div>

    <div id="specialTermsLoanView" ng-show="loanInfoView == 'specialTermsLoan'" special-terms-loan-view></div>