
      <div class="row" id="rwSpecialTermsLoanView1">
        <div class="col-md-6 form-group">
          <label for="SpecialTermsLoanPurchasePrice1">Purchase Price</label>
          <input type="text" class="inpt form-control" name="SpecialTermsLoanPurchasePrice1" placeholder="Purchase Price"> 

          <label for="SpecialTermsLoanName1">Loan Name</label>
          <input type="text" class="inpt form-control" name="SpecialTermsLoanName1" placeholder="Loan Name">

          <label for="SpecialTermsLoanAmount1">Amount</label>
          <input type="text" class="inpt form-control" name="SpecialTermsLoanAmount1" placeholder="Amount in $">

          <label for="SpecialTermsLoanInterest1">Interest</label>
          <input type="text" class="inpt form-control" name="SpecialTermsLoanInterest1" placeholder="Interest in %">  
        </div>
        <div class="col-md-6 form-group">
          <label for="SpecialTermsLoanPurchaseDate1">Purchase Date</label>
          <input type="text" class="inpt form-control" name="SpecialTermsLoanPurchaseDate1" ng-model="date" jqdatepicker placeholder="Click to enter date">

          <label for="SpecialTermsLoanAmortization1">Amortization</label>
          <input type="text" class="inpt form-control" name="SpecialTermsLoanAmortization1" placeholder="Amortization">

          <label for="SpecialTermsLoanBalloonDate1">Balloon Date</label>
          <input type="text" class="inpt form-control" name="SpecialTermsLoanBalloonDate1" ng-model="date" jqdatepicker placeholder="Click to enter date"> 

          <label for="SpecialTermsLoanLenderPoints1">Up Front Lender Points</label>
          <input type="text" class="inpt form-control" name="SpecialTermsLoanLenderPoints1" placeholder="Lender Points in $$">
        </div>
      </div>
      <p>Interest only for specified period?</p>
      <div class="col-md-12 form-group" ng-model="specialTermsInterestOption1">
          <input type="radio" ng-model="specialTermsInterestOption1" value="yes" >
          Yes
          <input type="radio" value="no" ng-model="specialTermsInterestOption1">
          No
      </div>
      <div id="specialTermsInterestOption" ng-show="specialTermsInterestOption1 == 'yes'">
          <div class="row">
            <div class="col-md-6 form-group">
              <label for="SpecialTermsLoanInterestStartDate1">Start Date</label>
              <input type="text" class="inpt form-control" name="SpecialTermsLoanInterestStartDate1" ng-model="date" jqdatepicker placeholder="Click to enter date"> 
            </div>
            <div class="col-md-6 form-group">
              <label for="SpecialTermsLoanInterestEndDate1">End Date</label>
              <input type="text" class="inpt form-control" name="SpecialTermsLoanInterestEndDate1" ng-model="date" jqdatepicker placeholder="Click to enter date"> 
            </div>
          </div>
      </div>
      <div class="row" id="rwSpecialTermsLoanView2">
        <div class="col-md-6 form-group">
          <label for="SpecialTermsLoanName2">Loan Name</label>
          <input type="text" class="inpt form-control" name="SpecialTermsLoanName2" placeholder="Loan Name">

          <label for="SpecialTermsLoanAmount2">Amount</label>
          <input type="text" class="inpt form-control" name="SpecialTermsLoanAmount2" placeholder="Amount in $">

          <label for="SpecialTermsLoanInterest2">Interest</label>
          <input type="text" class="inpt form-control" name="SpecialTermsLoanInterest2" placeholder="Interest in %">  
        </div>
        <div class="col-md-6 form-group">
          <label for="SpecialTermsLoanAmortization2">Amortization</label>
          <input type="text" class="inpt form-control" name="SpecialTermsLoanAmortization2" placeholder="Amortization">

          <label for="SpecialTermsLoanBalloonDate2">Balloon Date</label>
          <input type="text" class="inpt form-control" name="SpecialTermsLoanBalloonDate2" ng-model="date" jqdatepicker placeholder="Click to enter date"> 

          <label for="SpecialTermsLoanLenderPoints2">Up Front Lender Points</label>
          <input type="text" class="inpt form-control" name="SpecialTermsLoanLenderPoints2" placeholder="Lender Points in $$">
        </div>
      </div>
      <p>Interest only for specified period?</p>
      <div class="col-md-12 form-group" ng-model="specialTermsInterestOption2">
          <input type="radio" ng-model="specialTermsInterestOption2" value="yes" >
          Yes
          <input type="radio" value="no" ng-model="specialTermsInterestOption2">
          No
      </div>
      <div id="specialTermsInterestOption" ng-show="specialTermsInterestOption2 == 'yes'">
          <div class="row">
            <div class="col-md-6 form-group">
              <label for="SpecialTermsLoanInterestStartDate2">Start Date</label>
              <input type="text" class="inpt form-control" name="SpecialTermsLoanInterestStartDate2" ng-model="date" jqdatepicker placeholder="Click to enter date"> 
            </div>
            <div class="col-md-6 form-group">
              <label for="SpecialTermsLoanInterestEndDate2">End Date</label>
              <input type="text" class="inpt form-control" name="SpecialTermsLoanInterestEndDate2" ng-model="date" jqdatepicker placeholder="Click to enter date"> 
            </div>
          </div>
        </div>
      </div>
    