    <div class="row">
      <div class="col-md-12 form-group">
          <input type="radio" ng-model="rentalCalculator.input.loanInfoView" value="cash" >
          Cash
          <input type="radio" value="bankLoan" ng-model="rentalCalculator.input.loanInfoView">
          Loan - Bank
          <input type="radio" value="specialTermsLoan" ng-model="rentalCalculator.input.loanInfoView">
          Loan - Special Terms
      </div>
    </div>
    <fieldset>
        <div class="row">
          <div class="col-md-6 form-group">
            <label for="li_purchasePrice">Purchase Price ($)</label>
            <span class="glyphicon glyphicon-question-sign glyphiconBlueColor" aria-hidden="true"></span>
            <input type="number" class="inpt form-control" ng-model="rentalCalculator.input.li_purchasePrice" placeholder="$"> 
          </div>
          <div class="col-md-6 form-group">
            <label for="li_purchaseDate">Purchase Date</label>
            <input type="text" class="inpt form-control" ng-model="rentalCalculator.input.li_purchaseDate" jqdatepicker placeholder="Date">  
          </div>
        </div>
      </fieldset>
      <br/>
    <div id="bankLoanView" ng-disabled="rentalCalculator.input.loanInfoView != 'bankLoan'" ng-hide="rentalCalculator.input.loanInfoView != 'bankLoan'">
        <fieldset>
          <div class="row">
            <div class="col-md-6 form-group">
            <label for="bl_loanName">Loan Name</label>
              <input type="text" class="inpt form-control" ng-model="rentalCalculator.input.bl_loanName" placeholder="Loan Name"> 

              <label for="bl_downPaymentDollar">Down Payment ($)</label>
              <span class="glyphicon glyphicon-question-sign glyphiconBlueColor" aria-hidden="true"></span>
              <input type="number" class="inpt form-control" ng-model="rentalCalculator.input.bl_downPaymentDollar" placeholder="$">

              <label for="bl_closingCost">Closing Cost ($)</label>
              <input type="number" class="inpt form-control" ng-model="rentalCalculator.input.bl_closingCost" placeholder="$">
              
            </div>
            <div class="col-md-6 form-group">
              <label for="bl_interest">Interest (%)</label>
              <input type="number" step="0.001" class="inpt form-control" ng-model="rentalCalculator.input.bl_interest" placeholder="%"> 

              <label for="bl_downPaymentPercent">Down Payment (%)</label>
              <span class="glyphicon glyphicon-question-sign glyphiconBlueColor" aria-hidden="true"></span>
              <input type="number" class="inpt form-control" ng-model="rentalCalculator.input.bl_downPaymentPercent" placeholder="%">

              <label for="bl_amortization">Amortization (yrs)</label>
              <span class="glyphicon glyphicon-question-sign glyphiconBlueColor" aria-hidden="true"></span>
              <input type="number" class="inpt form-control" ng-model="rentalCalculator.input.bl_amortization" placeholder="yrs">

              
            </div>  
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for="bl_extraPrincipal">Extra Principal Pmt ($/mo)</label>
              <span class="glyphicon glyphicon-question-sign glyphiconBlueColor" aria-hidden="true"></span><br/>
              <input type="number" class="inpt form-control" ng-model="rentalCalculator.input.bl_extraPrincipal" placeholder="$">
            </div>
            <div class="col-md-3">
              <label for="bl_startDate">Start</label>      
                <input type="text" class="inpt form-control" ng-model="rentalCalculator.input.bl_startDate" jqdatepicker placeholder="Date"> 
            </div>
            <div class="col-md-3">
              <label for="bl_endDate">End</label>      
                <input type="text" class="inpt form-control" ng-model="rentalCalculator.input.bl_endDate" jqdatepicker placeholder="Date">
            </div>

          </div>
        </fieldset>
        <br/>
        <div ng-repeat="addedLoans in rentalCalculator.input.loans">
          <fieldset>
            <div class="row">
              <div class="col-md-2 col-md-offset-10" ng-click="rentalCalculator.removeLoan()">
                <span class="glyphicon glyphicon-minus-sign glyphiconDeleteForm" ng-show="$last"  aria-hidden="true"></span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 form-group">

                <label for="add_bl_loanName">Loan Name</label>

                <input type="text" class="inpt form-control" ng-model="rentalCalculator.input.loans[$index].add_bl_loanName" placeholder="Loan Name">

                <label for="add_bl_loanAmount">Amount</label>
                <input type="number" class="inpt form-control" ng-model="rentalCalculator.input.loans[$index].add_bl_loanAmount" placeholder="Amount in $">

                <label for="add_bl_interest">Interest (%)</label>
                <input type="number" step="0.001" class="inpt form-control" ng-model="rentalCalculator.input.loans[$index].add_bl_interest" placeholder="%">  
              </div>
              <div class="col-md-6 form-group">

                <label for="add_bl_amortization">Amortization (yrs)</label>
                <span class="glyphicon glyphicon-question-sign glyphiconBlueColor" aria-hidden="true"></span><br/>
                <input type="number" class="inpt form-control" ng-model="rentalCalculator.input.loans[$index].add_bl_amortization" placeholder="yrs">

                <label for="add_bl_balloon">Year Until Balloon Pmt</label>
                <span class="glyphicon glyphicon-question-sign glyphiconBlueColor" aria-hidden="true"></span><br/>
                <input type="number" class="inpt form-control" ng-model="rentalCalculator.input.loans[$index].add_bl_balloon"  placeholder="Yrs"> 

                <label for="add_bl_upFrontLenderPoints">Up Front Lender Points ($)</label>
                <span class="glyphicon glyphicon-question-sign glyphiconBlueColor" aria-hidden="true"></span><br/>
                <input type="number" class="inpt form-control" ng-model="rentalCalculator.input.loans[$index].add_bl_upFrontLenderPoints" placeholder="$">
              </div>

              <label>Interest only?</label>
              <span class="glyphicon glyphicon-question-sign glyphiconBlueColor" aria-hidden="true"></span><br/>
              <div class="col-md-12 form-group" ng-model="rentalCalculator.input.loans[$index].add_bl_interestOnly">
                <input type="radio" ng-model="rentalCalculator.input.loans[$index].add_bl_interestOnly" value="yes" >
                Yes
                <input type="radio" value="no" ng-model="rentalCalculator.input.loans[$index].add_bl_interestOnly">
                No
              </div>
            </div>
          </fieldset>
          <br/>
        </div>
        <br/>
        <div ng-click="rentalCalculator.addLoan()">
          <span class="glyphicon glyphicon-plus-sign glyphiconGreenColor" aria-hidden="true"></span>
          <label>Add Another Loan</label>
        </div>
    </div>

    <div id="specialTermsLoanView" ng-show="rentalCalculator.input.loanInfoView == 'specialTermsLoan'">
        <div ng-repeat="specialTermsLoans in rentalCalculator.input.specialTermsLoans">
          <fieldset>
            <div class="row">
                <div class="col-md-2 col-md-offset-10" ng-click="rentalCalculator.removeSpecialTermsLoan()">
                  <span class="glyphicon glyphicon-minus-sign glyphiconDeleteForm" ng-show="$last && !$first"  aria-hidden="true"></span>
                </div>
            </div>
            <div class="row">
              <div class="col-md-6 form-group">

                <label for="stl_loanName">Loan Name</label>
                <input type="text" class="inpt form-control" ng-model="rentalCalculator.input.specialTermsLoans[$index].stl_loanName" placeholder="Loan Name">

                <label for="stl_amount">Amount ($)</label>
                <input type="number" class="inpt form-control" ng-model="rentalCalculator.input.specialTermsLoans[$index].stl_amount" placeholder="$">

                <label for="stl_interest">Interest (%)</label>
                <span class="glyphicon glyphicon-question-sign glyphiconBlueColor" aria-hidden="true"></span><br/>
                <input type="number" step="0.001" class="inpt form-control" ng-model="rentalCalculator.input.specialTermsLoans[$index].stl_interest" placeholder="%">  
              </div>
              <div class="col-md-6 form-group">

                <label for="stl_amortization">Amortization (yrs)</label>
                <span class="glyphicon glyphicon-question-sign glyphiconBlueColor" aria-hidden="true"></span><br/>
                <input type="number" class="inpt form-control" ng-model="rentalCalculator.input.specialTermsLoans[$index].stl_amortization" placeholder="yrs">

                <label for="stl_balloon">Years Until Balloon Pmt</label>
                <span class="glyphicon glyphicon-question-sign glyphiconBlueColor" aria-hidden="true"></span><br/>
                <input type="number" class="inpt form-control" ng-model="rentalCalculator.input.specialTermsLoans[$index].stl_balloon" placeholder="Yrs"> 

                <label for="stl_upFrontLenderPoints">Up Front Lender Points ($)</label>
                <span class="glyphicon glyphicon-question-sign glyphiconBlueColor" aria-hidden="true"></span><br/>
                <input type="number" class="inpt form-control" ng-model="rentalCalculator.input.specialTermsLoans[$index].stl_upFrontLenderPoints" placeholder="$">
              </div>
              <label>Interest Only?</label>
              <span class="glyphicon glyphicon-question-sign glyphiconBlueColor" aria-hidden="true"></span><br/>
              <div class="col-md-12 form-group">
                  <input type="radio" ng-model="rentalCalculator.input.specialTermsLoans[$index].stl_interestOption"  value="yes" >
                  Yes
                  <input type="radio" value="no" ng-model="rentalCalculator.input.specialTermsLoans[$index].stl_interestOption">
                  No
            </div>
          </div>
          </fieldset>
          <br/>
        </div>
        <div ng-click="rentalCalculator.addSpecialTermsLoan()">
          <span class="glyphicon glyphicon-plus-sign glyphiconGreenColor" aria-hidden="true"></span>
          <label>Add Special Terms Loan</label>
        </div>
    </div>