
<form ng-attr-id="{{formid}}" name="blogCommentForm" class="collapse">
	<fieldset>
		<div class="row">
			<div class="col-md-12">
				<label mp-required>Comment</label>
				<textarea rows="4" class="form-control" placeholder="Type your comment here:" required mp-required ng-model="blog.newComment.content" name="comment"></textarea>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="col-md-5">
				<label mp-required>Name</label>
				<input type="text" class="form-control inpt"required mp-required ng-model="blog.newComment.name" name="name">

				<label mp-required>Email</label>
				<input type="email" required class="form-control inpt" required mp-required ng-model="blog.newComment.email" name="email">

				<!--Recaptcha Widget-->
				<div vc-recaptcha key="blog.publicKey" ng-model="blog.currentBlogView.captchaResponse" class="mobileCaptchaResize"></div>

				<br/>
				<!-- Error Messages -->
				<div class="text-danger elemIndent" ng-show="blog.error">
		    		<b>Please Enter Required Fields: </b><br/>
		    		<b ng-repeat="field in blog.missingFields track by $index">{{field}} </b>
		  		</div>
		  		<!-- data-toggle only collapses if there are no erorrs in the request -->
				<button type="button" class="btn btn-info" data-target="#{{formid}}" ng-attr-data-toggle="{{blog.error ? '' : 'collapse'}}" ng-click="blog.submitNewComment(blog.currentBlogView, respondsTo, originalComment)">Post Comment</button>
				<!-- Data Toggle added so that when user hits cancel, the section get -->
				<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{formid}}" ng-click="blog.cancelComment()">Cancel</button>
			</div>
			<div class="col-md-5">
				<label>Website</label>
				<input type="text" class="form-control inpt" ng-model="blog.newComment.website">
			</div>
		</div>
	</fieldset>
</form>