<!-- Ng-form used for step validation (so the whole form does not get validated) -->
<ng-form name="{{rentalCalculator.steps[1].view}}">
  <h3>Rental Income</h3>
  <div class="row">
    <div class="col-md-10">
      <!-- <fieldset>
        <div class="row">
          <div class="col-md-12">
            <label>
              Annual Rent Increase
              <a rel="mpTooltip" mp-tooltip="{{rentalCalculator.rentIncreaseText}}"> 
                <span class="glyphicon glyphicon-question-sign glyphiconBlueColor" aria-hidden="true"></span>
              </a>
            </label>
            <div class="input-group">
              <input type="number" step="0.001" class="inpt form-control" ng-model="rentalCalculator.input.ri_annualRentIncrease" placeholder="%">
              <span class="input-group-addon">%</span>
            </div>
          </div>
        </div>
      </fieldset> -->
    </div>
  </div>
  <br/>
  <div ng-repeat="units in rentalCalculator.input.units track by $index">
    <div class="row">
      <div class="col-md-10">
        <fieldset>
          <div class="row">
            <div class="col-md-2 col-md-offset-10" ng-click="rentalCalculator.removeUnit()">
              <span class="glyphicon glyphicon-minus-sign glyphiconDeleteForm" ng-show="$last && !$first"  aria-hidden="true"></span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>
                Unit Name
              </label> 
              <input type="text" class="inpt form-control" ng-model="rentalCalculator.input.units[$index].ri_unitName" placeholder="i.e. Unit 1, Unit A, etc." name="ri_unitName{{$index}}">
                     
            </div>
            <div class="col-md-6">
              <label mp-required>
                  Gross Monthly Income
              </label>
              <div class="input-group">
                <input type="number" step="0.01"class="inpt form-control" ng-model="rentalCalculator.input.units[$index].ri_grossMonthlyIncome" placeholder="$" required name="ri_grossMonthlyIncome{{$index}}" ng-class="{inValidField: !!{{rentalCalculator.steps[1].view}}.ri_grossMonthlyIncome{{$index}}.$invalid && rentalCalculator.userWantedToProceed}" ng-change="rentalCalculator.calculateFieldExpenses('income')">
                <span class="input-group-addon">$/month</span>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <br/>
  </div>
  <div ng-click="rentalCalculator.addUnit()">
    <span class="glyphicon glyphicon-plus-sign glyphiconGreenColor" aria-hidden="true"></span>
    <label>Add Unit</label><br/><br/>
  </div>

  <h3>Supplemental Income</h3>
  <div ng-repeat="supplementalIncomes in rentalCalculator.input.supplementalIncomes track by $index">
    <div class="row">
      <div class="col-md-10">
        <fieldset>
          <div class="row">
            <div class="col-md-2 col-md-offset-10" ng-click="rentalCalculator.removeSupplementalIncome()">
              <span class="glyphicon glyphicon-minus-sign glyphiconDeleteForm" ng-show="$last && !$first"  aria-hidden="true"></span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>
                Description
              </label> 
              <input type="text" class="inpt form-control" ng-model="rentalCalculator.input.supplementalIncomes[$index].si_description" placeholder="i.e. coin laundry, garages, etc." name="si_description{{$index}}" ng-required="rentalCalculator.input.supplementalIncomes[$index].si_grossMonthlyIncome" ng-class="{inValidField: !!{{rentalCalculator.steps[1].view}}.si_description{{$index}}.$invalid && rentalCalculator.userWantedToProceed}">
            </div>
            <div class="col-md-6">
              <label>
                Gross Monthly Income
              </label>
              <div class="input-group">
                <input type="number" step="0.01" class="inpt form-control" ng-model="rentalCalculator.input.supplementalIncomes[$index].si_grossMonthlyIncome" placeholder="$" name="si_grossMonthlyIncome{{$index}}" ng-required="rentalCalculator.input.supplementalIncomes[$index].si_description" ng-class="{inValidField: !!{{rentalCalculator.steps[1].view}}.si_grossMonthlyIncome{{$index}}.$invalid && rentalCalculator.userWantedToProceed}" ng-change="rentalCalculator.calculateFieldExpenses('income')">
                <span class="input-group-addon">$/month</span>
              </div> 
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <br/>
  </div>
  <div ng-click="rentalCalculator.addSupplementalIncome()">
    <span class="glyphicon glyphicon-plus-sign glyphiconGreenColor" aria-hidden="true"></span>
    <label>Add additional income source</label>
  </div>
</ng-form>