<form>
  <!-- All of these templates get loaded by loadTemplates.js and the html for them lives in reic/views/templates -->
  <div id="basicInformation" basic-property-information></div>
  <div id="loanInformation" ng-controller="RadioController" loan-information></div>
  <div id="incomeSources" income-Sources></div>  
  <div id="expenses" expenses></div>
  <br/>
  <button type="submit" class="btn btn-success">Calculate Results</button>
  <button type="clear" class="btn btn-danger">Clear All Fields</button>
</form>

