<form>
	<!-- All of these templates get loaded by loadTemplates.js and the html for them lives in reic/views/templates -->
	<div jq-slide-section>
		<div class="ui-accordion ui-widget ui-helper-reset" id="accordion">
			<h1 style="text-align: center;" class="accordion-header ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all">
				<span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
				Basic Property Information
			</h1>
			<div id="basicInformation" basic-property-information class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom"></div>

			<h1 style="text-align: center;" class="accordion-header ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all">
				<span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
				Loan Information
			</h1>
			<div id="loanInformation" ng-controller="RadioController" loan-information class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom"></div>

			<h1 style="text-align: center;" class="accordion-header ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all">
				<span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>Income Sources</h1>
				<div id="incomeSources" income-Sources class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom"></div>  

				<h1 style="text-align: center;" class="accordion-header ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all">
					<span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>Expenses</h1>
					<div id="expenses" expenses class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom"></div>
					<br/>
				</div>
			</div>


			<button type="submit" class="btn btn-success">Calculate Results</button>
			<button type="clear" class="btn btn-danger">Clear All Fields</button>
		</form>

