<div class="row" ng-controller="RentalCalculatorResultsController">
	<div class="col-md-4">
		<div id="combinedResults" class="resultDiv"> Combined Results</div>
		<div id="portfolioTracker" class="resultDiv"> Portfolio Tracker</div>
	</div>
	<div class="col-md-4">
		<div id="cashFlow" class="resultDiv" go-to-cash-flow> Cash Flow</div>
		<div id="totalReturn" class="resultDiv"> Total Return</div>
	</div>
	<div class="col-md-4">
		<div id="equityOverTime" class="resultDiv"> Equity Over Time</div>
		<div id="Cost Basis" class="resultDiv"> Cost Basis</div>
	</div>
</div>
